<html>
  <body>        
        <h1>Hello Rahul</h1>
        <h2>IPADDRESS:  <%= node['ipaddress'] %> </h2>
        <h2>HOSTNAME: <%= node['hostname'] %> </h2>
	<img src="canada-940x705.jpg">
	<img src="Crater-Lake-768x510.jpg">
  </body>
</html>

